.container {
	display: flex;
	flex-direction: row;
}

.notes {
	width: 25%;
	top: 10%;
	position: sticky;
	height: 100vh;
}

.highlight>span,
.highlight {
	background-color: rgba(0, 0, 255, 30%);
}

.highlight {
	position: relative;
}

.bookmark {
	border-style: solid;
	padding: 5%;
	margin-top: 5%;
	text-align: right;
}

.bookmark-buttons {
	display: grid;
}

.bookmark-buttons>button {
	height: 100%;
}

#reader {
	width: 100%;
}

.anki:modal {
	display: flex;
	flex-direction: column;
}

.anki-field {
	display: flex;
	flex-direction: column;
}

.anki-field>p {
	max-width: 500px;
}

.anki-field>span {
	text-align: initial;
	background: rgb(45, 45, 45);
	border: 1px solid #ccc;
}

table {
	width: 70vw;
}

th {
	border: solid;
}

input {
	color: black;
}

.note-editor-dialog {
	width: 70%;
}

.reading-options {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 5%;
}

.heat-map {
	height: 100vh;
	display: grid;
	gap: 0.3rem;
	grid-template-columns: 10ch repeat(25, 1fr);
	padding-right: 1rem;
	overflow: hidden, auto;
	align-content: baseline;
	align-items: center;
	text-align: right;
}

.heat-map>* {
	-webkit-user-select: none;
	user-select: none;
	min-width: 0;
	min-height: 0;
}

.heat-map>div {
	border: solid white;
	color: rgba(0, 0, 0, 0%);
	aspect-ratio: 1/1;
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.read-page {
	background-color: green;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.priority-list {
	width: 20%;
	border: 1px solid black;
}

.context-menu {
	visibility: hidden;
	background: black;
	position: absolute;
}

.name-later {
	display: flex;
	flex-direction: column;
}