.container {
display: flex;
flex-direction: row;
}

.notes {
  // top: 10%;
  // left: 90%;
  // position: fixed;
  width: 25%;
  top: 10%;
  position: sticky;
  height: 100vh;
}

.highlight > span, .highlight {
background-color:rgba(0,0,255,0.3);  
}

.highlight {
  position: relative;
}

.bookmark{
border-style: solid;
padding: 5%;
margin-top: 5%;
}

.bookmark {
  text-align: right;
}

.bookmark-buttons {
  display: grid;
}

.bookmark-buttons > button {
  height: 100%;
}

#reader {
  width: 100%;
}


.anki:modal {
display: flex;
flex-direction: column;
  
}

.anki > p {
  max-width: 500px;
}

.anki > span{
  text-align: initial;
  background: rgb(45,45,45);
  border: 1px solid #ccc;
  
}

table {
  width: 70vw;
}

th {
  border: solid;
}

input {
  color: black;
}


.note_editor_dialog {
  // height: 100%;
  width: 70%;
}


.heat_map {
  position: sticky;
  top: 5%;
  height: 100vh;
  display: grid;
  gap: 0.3rem;
  grid-template-columns: repeat(26, 1fr);
  grid-auto-rows: 1rem;
  overflow-y: auto;
}

.heat_map > *, heat_map {
  -webkit-user-select: none;
}

.heat_map > div {
  border: solid white;
  color: rgba(0,0,0,0);
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.read_page {
  background-color: green;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.priority_list {
  width: 20%;
  border: 1px solid black;
}
